<div class="cartbox">
    <h1 class="text-danger">Shopping Cart</h1>
    <div class="headCart">
        <p class="lead">You have <label class="text-danger">{{carteProduct.length}}</label>item in your cart</p>
        <span class="text-danger card-header" (click)="clearCart()">Clear Shopping Cart</span>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th style="width: 25%;">Quantity</th>
                <th>Totle</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let obj of carteProduct; let i = index">
                <td><img src="{{obj.item.image}}" alt=""></td>
                <td>{{obj.item.title}}</td>
                <td>{{obj.item.price}} £</td>
                <td>
                    <div class="quantity">
                        <button class="btn btn-dark" (click)="AddAmount(i)">+</button>
                        <input type="number" class="form-control" (change)="detectChange()" [(ngModel)]="obj.amount" min="1">
                        <button class="btn btn-dark" (click)="MinsAmount(i)">-</button>
                    </div>
                </td>
                <td>{{obj.item.price * obj.amount}} £</td>
                <td>
                    <button class="btn btn-danger" (click)="deleteProduct(i)">Delete</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Total : {{total}}</th>
                <th><button class="btn btn-success" (click)="addCart()">Order Now</button></th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="alert alert-success" role="alert" *ngIf="success">
    <strong>Well done!</strong>
    Your Order is Successfully Send <br><hr>
    <button (click)="success= false" class="btn btn-success">Ok !</button>
</div>